/*
// vim: set expandtab tabstop=4 shiftwidth=4 autoindent smartindent:
//---------------------------------------------------------
// CAPTAIN  SLOG
//---------------------------------------------------------
//
//	FILE:       media-queries.css 
//	SYSTEM:     New RESPONSIVE Framework 
//	AUTHOR:     Mark Addinall
//	DATE:       22/03/2013
//	SYNOPSIS:   I put up a HTML website for myself in
//              2002.  I put about six hours worth of
//              work into it and never touched it again.
//              It looks and feels like crap, but I never
//              seemed to have the time nor inclination
//              to do anything about it!  So, 11 years on,
//              let's address this.
//				
//				This CSS file handles the fluidity of the
//				page structure based on the size of the
// 				device we are on.
*/


@media screen and (max-width: 1000px) {

	#wrapper {
		width: 95%;
	}

	#column-one {
		width: 60%;
		padding: 3% 4%;
	}

	#column-two {
		width: 30%;
	}
	#colum-two .widget {
		padding: 8% 7%;
		margin-bottom: 10px;
	}

	.video embed,
	.video object,
	.video iframe {
		width: 100%;
		height: auto;
		min-height: 300px;
	}

}

@media screen and (max-width: 650px) {

	#header {
		height: auto;
	}

	#searchform {
		position: absolute;
		top: 5px;
		right: 0;
		z-index: 100;
		height: 40px;
	}
	#searchform #s {
		width: 70px;
	}
	#searchform #s:focus {
		width: 150px;
	}

	#navigation {
		position: static;
	}

	#logo {
		margin: 15px 100px 5px 0;
		position: static;
	}

	#description {
		margin: 0 0 15px;
		position: static;
	}

	#column-one {
		width: auto;
		float: none;
		margin: 20px 0;
	}

	#column-two {
		width: 100%;
		margin: 0;
		float: none;
	}
	#column-two .widget {
		padding: 3% 4%;
		margin: 0 0 10px;
	}

	.video embed,
	.video object,
	.video iframe {
		min-height: 250px;
	}

}

@media screen and (max-width: 480px) {

/* we are now in a smartphone!  */

	html {
		-webkit-text-size-adjust: none;
	}

	#navigation a {
		font-size: 90%;
		padding: 10px 8px;
	}

}

